.card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px; /* Aumentar el ancho máximo para acomodar las columnas */
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  grid-template-rows: repeat(4, auto); /* 4 filas de altura automática */
  gap: 20px; /* Espacio entre los inputs */
  margin-bottom: 20px;
}

.card label {
  display: block;
  font-weight: bold;
  color: #fff;
}

.card input {
  width: calc(100% - 20px); /* Ajustar el ancho al tamaño de la celda */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 20px;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
}

.card input::-webkit-outer-spin-button,
.card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.card button:hover {
  background-color: #005f73;
}

.card h2 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .input-container {
    grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
    grid-template-rows: repeat(11, auto); /* 11 filas para los 11 inputs */
  }

  
}